<%- include("header") %> 

<h2>This is about Section</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga labore nam at ratione exercitationem vel sapiente quam placeat dolorem sequi tempora saepe veritatis, officia earum perferendis est tempore molestias eos atque consequuntur esse iusto eveniet! Consectetur, eos magnam distinctio amet eaque vitae non quia ad, reiciendis hic ea porro inventore saepe iusto aspernatur ex nam dicta doloremque maiores labore nobis atque, molestias harum. Omnis, rem odit velit libero dicta quidem pariatur, ipsum et magni sint reprehenderit beatae iusto reiciendis porro a. Eum rerum amet exercitationem neque. Ipsum ex hic laboriosam!</p>

<%- include("footer") %> 